img{
    max-height: 80px;
}
.table{
    width: 100%;
    border-color: #4a4a4a;
    border: 1px;
}
.card-title{
    color: #a7a7a7;
}
.card{
    background-color: #262626;
    max-width: 1200px;
    margin: auto;
    font-family: 'Almarai';
    letter-spacing: 1px;
    box-shadow: 0 0 5px #0c0c0c9d;
    text-align: center;
}
.container-fluid{
    background-color: #262626;
}
thead{
    background-color: #262626;
    color: #a7a7a7;
}
th{
    background-color: #262626;
    color: #a7a7a7;
}
td{
    background-color: #262626;
    color: #a7a7a7;
}
hr{
    width: 100%;
    margin:auto;
}
.btn-secondary, .btn-danger{
    text-align: center;
    border:none;
    background-color: #4a4a4a;
}
.btn-secondary:hover{
    background-color: #007206;
    border: none;
}
.btn-danger:hover{
    background-color: #960000;
}
.accordion, .accordion-flush, .accordion-item, .accordion-header, .accordion-collapse, .accordion-body, .accordion-button{
    background-color: #262626;
    color: #a7a7a7;
    border-color: #4a4a4a;
    border-radius: 0;
    text-align: center;
}
tr{
    border: #4a4a4a 1px solid;
}
.form-control, .form-select{
    background-color: #4a4a4a;
    border:0;
    font-weight: 300;
    font-size: medium;
    color: #a7a7a7;
    letter-spacing: 1px;
}
.form-label{
    color: #a7a7a7;
    font-weight: 300;
    font-size: medium;
    letter-spacing: 1px;
}