.container-fluid{
    background-color: #262626;
}
.container{
    background-color: #262626;
}
.container-principal{
    background-color: #262626;
    min-height: 100vh;
}
.card{
    max-width: 900px;
    background-color: #2c2c2c ;
    font-family: 'Almarai';
    letter-spacing: 1px;
    box-shadow: 0 0 5px #0c0c0c9d;
}
.container-md{
    background-color: #262626;
}
.card-title{
    color: #a7a7a7;
}
.card-body{
    color: #a7a7a7;
}
p{
    letter-spacing: 6px;
    text-align: center;
    font-size: xx-large;
}
input{
    background-color: #4a4a4a;
    border: 0;
    color: #a7a7a7;
    text-align: center;
    letter-spacing: 1px;
}
input::placeholder{
    color: #7a7a7a;
}
input:focus{
    background-color: #585858;
    color: #a7a7a7;
    box-shadow: none;
    border: none;
    caret-color: transparent;
}
label{
    color: #a7a7a7;
    text-shadow: #262626 0 0 5px;
}
button{
    background-color: #4a4a4a;
    border: none;
    color: #a7a7a7;
    letter-spacing: 1px;
    font-family: 'Almarai';
}
.registrarse:hover{
    background-color: #005500;
}
.ingresar:hover{
    background-color: #01003d;
}
.ingresar:disabled{
    background-color: #3f3f3f;
    color: #7a7a7a;
}
.container-fluid{
    background-color: #262626;
}
.container{
    background-color: #262626;
}
.container-form{
    max-width: 1000px;
    background-color: #262626 ;
    font-family: 'Almarai';
    letter-spacing: 1px;
    box-shadow: 0 0 5px #0c0c0c9d;
    color: #a7a7a7;
    margin: auto;
    font-weight: 300;
    font-size: medium;
}
.form-control, .form-select{
    background-color: #4a4a4a;
    border:0;
    font-weight: 300;
    font-size: medium;
    color: #a7a7a7;
    letter-spacing: 1px;
}
input:focus, textarea:focus, select:focus{
    background-color: #4a4a4a;
    color: #a7a7a7;
    box-shadow: 0 0 10px #0c0c0c9d;
    border: 0;
    caret-color: transparent;
}
.btn{
    background-color: #4a4a4a;
    color: #a7a7a7;
    border: 0;
    font-weight: 300;
    font-size: medium;
    font-family: 'Almarai';
}
.btn-succes:hover{
    background-color: #006912;
}
hr{
    width: 97%;
    color: #a7a7a7;
    margin:auto;
}
img{
    max-height: 160px;
}
.table{
    width: 100%;
    /* border-color: #4a4a4a;
    border: 1px; */
    border-top:#4a4a4a 1px solid;
    /* border-bottom: #4a4a4a 1px solid; */
}
.card-title{
    color: #a7a7a7;
}
.card{
    background-color: #262626;
    max-width: 1800px;
    margin: auto;
    font-family: 'Almarai';
    letter-spacing: 1px;
    box-shadow: 0 0 5px #0c0c0c9d;
    text-align: center;
}
.container-fluid{
    background-color: #262626;
}
thead{
    background-color: #262626;
    color: #a7a7a7;
}
th{
    background-color: #262626;
    border: none;
    border-top:#4a4a4a 1px solid;
    /* border-bottom: #4a4a4a 1px solid; */
    color: #a7a7a7;
}
td{
    background-color: #262626;
    color: #a7a7a7;
    border:none;
    border-top:#4a4a4a 1px solid;
    /* border-bottom: #4a4a4a 1px solid; */
    vertical-align: middle;
    /* box-shadow: 0 0 10px #0c0c0c9d; */
}
hr{
    width: 100%;
    margin:auto;
}
.btn-secondary, .btn-danger{
    text-align: center;
    border:none;
    background-color: #4a4a4a;
    letter-spacing: 1px;
}
.btn-danger:hover{
    background-color: #960000;
}
.btn-secondary:hover{
    background-color: #005218;
    letter-spacing: 2px;
}
h5{
    color: #a7a7a7;
    font-weight: lighter;
}
a{
    color: #a7a7a7;
    text-decoration: underline #a7a7a7 1px; 
}
tbody tr:hover{
    background-color: #4a4a4a;
    color: #a7a7a7;
    box-shadow: 0 0 10px #0c0c0c9d;
    border: 0;
    caret-color: transparent;
}