body{
    background-color: #262626;
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100%; */
}
.container-fluid{
    background-color: transparent;
    margin: 0;
    width: 100%;
    /* height: 100%; */
}
.filtro{
    background-color: #414141;
    border: none;
    color: #d8d8d8;
    width: 100%;
    border-radius: 20px;
    /* height: 100%; */
}
.filtro::placeholder{
    color: #a7a7a7;
}
.filtro:hover, .filtro:focus{
    border: none;
    box-shadow: none;
}
.container{
    background-color: transparent;
    width: 100%;
    padding: 0;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.row{
    width: 100%;
    padding: 0;
    margin: 0;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: start; */
}
.card{
    background-color: transparent;
    color: #d1d1d1;
    margin: 0;
    padding: 0;
    font-family: 'Almarai';
    width: 100%;
    border: 0;
    transition: transform 0.3s ease;
    /* width: max-content; */
    /* height: 100%; */
}
.card-title{
    font-size: 2vh;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
}
.card-text{
    font-family: 'Almarai';
    font-size: small;
}
.card:hover{
    transform: scale(1.05);
}
.card-img img {
    width: 100%;
    height: auto;
}