<div class="container-fluid">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"></h3>
            </div>
            <div class="card-body">
                <form [formGroup]="this.formDevolucion" class="form-inline">
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>