<div class="container-fluid">
    <div class="container p-4">
        <div class="card m-auto">
            <div class="card-title">
                <h2 class="mt-3">Preguntas Frecuentes</h2>
                <hr>
            </div>
            <div class="card-body">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse" aria-expanded="false"
                                aria-controls="flush-collapse">
                                ¿Debo estar registrado para realizar compras?
                            </button>
                        </h2>
                        <div id="flush-collapse" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>Si, debe registrarse para que nosotros podamos obtener los datos necesarios para realizar la compra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse2" aria-expanded="false"
                                aria-controls="flush-collapse2">
                                ¿Como puedo reigstrarme?
                            </button>
                        </h2>
                        <div id="flush-collapse2" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    ¡Es muy sencillo! Solo debes presionar el botón en la parte superior izquierda de la pantalla y dirigirte a la opcion registrarse.
                                    Allí deberá completar con sus datos personales el formulario de registro. Luego de su registro, al estar logeado,
                                    podrá realizar compras.
                                </p>
                                <!-- <img src="assets/imagenes/register.png" alt="Imagen Modelo"> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse3" aria-expanded="false"
                                aria-controls="flush-collapse3">
                                ¿Cómo puedo realizar un pedido?
                            </button>
                        </h2>
                        <div id="flush-collapse3" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Para realizar un pedido, navega por nuestro catálogo y añade los productos que desees a tu carrito de compras. 
                                    Una vez que hayas terminado de seleccionar los productos, dirígete a tu carrito y haz clic en "Finalizar compra". 
                                    Sigue las instrucciones para ingresar tu información de envío y pago. Recibirás una confirmación por correo 
                                    electrónico una vez que tu pedido se haya realizado correctamente.
                                </p>
                                <!-- <img src="assets/imagenes/register.png" alt="Imagen Modelo"> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse4" aria-expanded="false"
                                aria-controls="flush-collapse4">
                                ¿Cuáles son los medios de pago disponibles?
                            </button>
                        </h2>
                        <div id="flush-collapse4" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Al momento de abonar el pago será redirigido a Mercado Pago, pudiendo pagar de cualquiera de las formas de pago que ofrezca.
                                    Las promociones o ofertas segun las formas de pago pueden variar dependiendo de la fecha de compra.
                                </p>
                                <!-- <img src="assets/imagenes/register.png" alt="Imagen Modelo"> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse5" aria-expanded="false"
                                aria-controls="flush-collapse5">
                                ¿Cuál es el precio de envío?
                            </button>
                        </h2>
                        <div id="flush-collapse5" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    ¡El envío es totalmente gratuito!
                                </p>
                                <!-- <img src="assets/imagenes/register.png" alt="Imagen Modelo"> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse6" aria-expanded="false"
                                aria-controls="flush-collapse6">
                                ¿Es seguro comprar en su sitio web?
                            </button>
                        </h2>
                        <div id="flush-collapse6" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Sí, nuestro sitio web utiliza tecnología de cifrado SSL para proteger 
                                    tus datos personales y de pago. Nos comprometemos a mantener la seguridad y 
                                    confidencialidad de tu información en todo momento.
                                </p>
                                <!-- <img src="assets/imagenes/register.png" alt="Imagen Modelo"> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse7" aria-expanded="false"
                                aria-controls="flush-collapse7">
                                ¿Puedo modificar o cancelar mi pedido después de haberlo realizado?
                            </button>
                        </h2>
                        <div id="flush-collapse7" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Si necesitas modificar o cancelar tu pedido, contáctanos lo antes posible. 
                                    Haremos todo lo posible para atender tu solicitud antes de que el pedido sea enviado. 
                                    Una vez enviado, no podemos realizar modificaciones ni cancelaciones.
                                </p>
                                <!-- <img src="assets/imagenes/register.png" alt="Imagen Modelo"> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse8" aria-expanded="false"
                                aria-controls="flush-collapse8">
                                ¿Cuál es su política de devoluciones?
                            </button>
                        </h2>
                        <div id="flush-collapse8" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    La devolución solo será posible en el caso de que las prendas sean defectuosas.
                                    Deberá contactarse con nostros inmediatamente para realizar la devolución.
                                </p>
                                <!-- <img src="assets/imagenes/register.png" alt="Imagen Modelo"> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse9" aria-expanded="false"
                                aria-controls="flush-collapse9">
                                ¿Cómo puedo contactar con el servicio al cliente?
                            </button>
                        </h2>
                        <div id="flush-collapse9" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <p>
                                    Puedes contactar con nuestro servicio al cliente a través del siguiente correo: 2nf.clothing&#64;gmail.com
                                </p>
                                <!-- <img src="assets/imagenes/register.png" alt="Imagen Modelo"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>