<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex">
      <div class="me-auto">
        <div class="dropdown col">
          <button class="btn profile" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            <li *ngIf="!(loggedIn$ | async)"><a class="dropdown-item" (click)="login()">Login</a></li>
            <li *ngIf="!(loggedIn$ | async)"><a class="dropdown-item" (click)="register()">Register</a></li>
            <li *ngIf="loggedIn$ | async"><a class="dropdown-item" (click)="logout()">Logout</a></li>
            <li *ngIf="loggedIn$ | async"><a class="dropdown-item" (click)="profile()">Profile</a></li>
          </ul>
        </div>
      </div>
      <a class="navbar-brand m-1 mt-0 mb-0">
        <ng-container *ngIf="isSmallScreen()">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active">
            <img src="assets/imagenes/logoMinimal3d.png" width="80" alt="Logo">
          </a>
        </ng-container>
        <ng-container *ngIf="!isSmallScreen()">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active">
            <img src="assets/imagenes/logoCompleto3d.png" width="300" alt="Logo">
          </a>
        </ng-container>
      </a>
      <div class="ms-auto">
        <div class="row">
          <div class="col">
            <button class="btn btn-secondary position-relative" (click)="cart()">
              <i class="bi bi-cart"></i>
              <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger" *ngIf="cart$ | async">
              {{ cart$ | async }}
              <span class="visually-hidden">Articles in cart</span>
            </span>
          </button>
          </div>
          
        </div>
      </div>
    </div>
  </nav>
</header>
