header {
    background-color: #262626c1;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 87230481234;
}
.header-side-open{
    opacity: 0.6;
}
nav{
    background-color: transparent;
}
div{
    background-color: transparent;
}
input{
    background-color: #4a4a4a;
    border: 0;
    color: #a7a7a7;
    text-align: center;
}
input:focus{
    background-color: #4a4a4a;
    color: #a7a7a7;
    box-shadow: 0 0 5px #0c0c0c9d;
}
input::placeholder{
    color: #a7a7a7;
}
.navbar-text{
    color: #a7a7a7;
    letter-spacing: 1px;
}
.dropdown-menu{
    background-color: transparent;
    color: #a7a7a7;
}
.dropdown-item{
    background-color: #393939;
    color: #a7a7a7;
}
.dropdown-item:hover{
    background-color: #4a4a4a;
    color: #a7a7a7;
}
.navbar{
    background-color: transparent;
    color: #a7a7a7;
}
.nav-link{
    color: #a7a7a7;
}
.navbar-toggler{
    color: #a7a7a7;
    background-color: #4a4a4a;
}
button{
    background-color: #4a4a4a;
    border: none;
    color: #a7a7a7;
    letter-spacing: 1px;
    font-family: 'Almarai';
}
button:hover{
    background-color: #727272;
}
.cerrar-sesion:hover{
    background-color: #7a0000;
}
.iniciar-sesion:hover{
    background-color: #005512;
}
.logo-side-panel{
    
    max-width: 100px;
}