<div class="container-fluid">
    <div class="container w-100">
        <div class="card w-100">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img [src]="(this.article$ | async)?.images?.at(0)" alt="" class="w-100">
                    </div>
                    <div class="col-md-6 p-3">
                        <div class="row">
                            <div class="col">
                                <h1>{{(this.article$ | async)?.name}} <h1 *ngIf="(this.estaDescontinuado() | async)">(Descontinuado)</h1> </h1>
                            </div>
                        </div>
                        <hr *ngIf="!(this.estaDescontinuado() | async)">
                        <div class="row" *ngIf="!(this.estaDescontinuado() | async)">
                            <div class="col">
                                <h4>ARS${{(this.article$ | async)?.price}}</h4>
                            </div>
                        </div>
                        <div class="row mt-4" *ngIf="!(this.estaDescontinuado() | async)">
                            <p>Talle</p>
                            <div class="d-flex flex-wrap w-100">
                                <div *ngFor="let size of sizes$ | async" class="col">
                                    <button 
                                    (click)="seleccionarTalle(size)" 
                                    class="btn btn-secondary m-3" 
                                    [disabled]="!(hayTalle(size.id) | async)"
                                    [ngClass]="{ 'btn-selected': this.talleSeleccionado.id == size.id }">{{size.description}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4" *ngIf="!(this.estaDescontinuado() | async)">
                            <p class="col-md-12 col-6 text-md-start text-center m-auto">Cantidad</p>
                            <div class="col-md-3 col-6">
                                <input type="number" class="form-control w-100" name="amount" id="amount" min="1" [(ngModel)]="amount"
                                [ngClass]="{ 'is-invalid': this.amount == 0 || (this.amount > this.disponibles && this.talleSeleccionado.id != 0) }">
                                <span class="invalid-feedback" *ngIf="this.amount == 0 || (this.amount > this.disponibles && this.talleSeleccionado.id != 0)">No hay suficientes disponibles</span>
                            </div>
                        </div>
                        <div class="row mt-4" *ngIf="!(this.estaDescontinuado() | async)">
                            <div class="col-12">
                                <button class="btn btn-secondary w-100" (click)="addToCart()"
                                [disabled]="this.talleSeleccionado.id == 0 || this.amount == 0 || this.amount > this.disponibles || this.amount == undefined">Agregar al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3 mt-4">
                    <h3>Descripción</h3>
                    <hr>
                    <p>{{(this.article$ | async)?.description}}</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
