.container-fluid{
    background-color: transparent;
}
.container{
    padding: 5%;
    margin: auto;
    width: 100%;
    background-color: transparent;
    color: #a7a7a7;
    text-align: start;
    font-family: 'Almarai';
    letter-spacing: 1px;
}
.card{
    background-color: #262626c1;
    backdrop-filter: blur(2px);
    color: #a7a7a7;
    border: none;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.btn{
    color:#cacaca;
    background-color: #585858;
    border: none;
}
.btn-selected{
    background-color: #8d8d8d;
    color:#ffffff;
}
.form-control, .form-select{
    background-color: #4a4a4a;
    border:0;
    font-weight: 300;
    font-size: medium;
    color: #a7a7a7;
    letter-spacing: 1px;
}
.form-control:focus{
    border:none;
    box-shadow: none;
}
.row{
    vertical-align: center;
}