<footer>
    <div class="container mt-3">
        <div class="row">
            <!-- <div class="col">
                <h3>Sobre Nosotros</h3>
                <p>Somos una empresa dedicada a...</p>
            </div> -->
            <div class="col">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="terms-and-conditions" target="_blank">Terminos y Condiciones</a></li>
                    <li><a href="frequently-asked-questions" target="_blank">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Contacta con Nosotros</h3>
                <p>2nf.clothing&#64;gmail.com</p>
                <!-- <p>Teléfono: (351) 651-0318</p> -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2nf-Cloting. Todos los derechos reservados.</p>
    </div>
</footer>