<div class="container-fluid">
    <div class="container w-100 pt-4">
        <div class="card w-100">
            <div class="card-title mt-4">
                <div class="row">
                    <div class="col-2">

                    </div>
                    <div class="col-8">
                        <h3 class="text-center">Articulos</h3>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-secondary float-end mt-0 m-4" (click)="addArticle()">Nuevo</button>
                    </div>
                </div>
                <hr>
            </div>
            <div class="card-body">
                <table class="table table-sm table-borderless text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Baja</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let article of articles$ | async">
                            <th scope="row">{{article.id}}</th>
                            <td><img [src]="article.images.at(0)" alt=""></td>
                            <td>{{article.name}}</td>
                            <td *ngIf="article.discontinuedAt">Baja día {{article.discontinuedAt | date:'dd/MM/yyyy'}}</td>
                            <td *ngIf="!article.discontinuedAt">Activo</td>
                            <td>ARS${{article.price}}</td>
                            <td>
                                <button class="btn btn-secondary w-100" (click)="editArticle(article)">Ver</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
