<div class="container-fluid">
    <div class="container pt-4">
        <div class="card container-form">  
            <div class="card-title pt-3">
                <h3 class="text-center">Modificar Artículo</h3>
                <hr>
            </div>
            <div class="card-body pt-0 mt-0">
                <form class="form-inline" [formGroup]="this.formArticulo" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name" class="form-label m-0 p-0">Nombre*</label>
                            <input formControlName="name" type="text" class="form-control m-0 pt-1 pb-1" name="name" id="name"
                            [ngClass]="{ 'is-invalid': !this.formArticulo.get('name')?.valid && this.formArticulo.get('name')?.touched}"
                            [ngClass]="{ 'is-valid': this.formArticulo.get('name')?.valid }">
                        </div>
                        <div class="col-md-6">
                            <label for="type" class="form-label m-0 p-0">Tipo*</label>
                            <select formControlName="type" name="type" id="type" class="form-select m-0 pt-1 pb-1"
                            [ngClass]="{ 'is-invalid': !this.formArticulo.get('type')?.valid && this.formArticulo.get('type')?.touched}"
                            [ngClass]="{ 'is-valid': this.formArticulo.get('type')?.valid }">
                                <option *ngFor="let type of articleTypes$ | async" [value]="type.id">{{type.description}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="" class="form-label m-0 p-0">Descripción*</label>
                            <textarea formControlName="description" name="description" id="description" cols="30" rows="6" class="form-control pt-1 pb-1"
                            [ngClass]="{ 'is-invalid': !this.formArticulo.get('description')?.valid && this.formArticulo.get('description')?.touched}"
                            [ngClass]="{ 'is-valid': this.formArticulo.get('description')?.valid }"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-9">
                            <label for="" class="form-label m-0 p-0">Link de la Imagen</label>
                            <input [formControl]="inputImages" type="text" class="form-control pt-1 pb-1">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-secondary w-100 mt-4 pt-1 pb-1" type ="button" (click)="addImage()">Agregar</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-9">
                            <label for="" class="form-label m-0 p-0">Imagenes Agregadas*</label>
                            <div class="card container-images">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col container-images" *ngFor="let image of this.listImages">
                                            <img [src]="image" alt="" (click)="deleteImage(image)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger w-100 mt-4 pt-1 pb-1" type ="button" (click)="deleteAllImages()">Eliminar Todas</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label for="">Precio* (ARS$)</label>
                            <input formControlName="price" type="number" class="form-control pt-1 pb-1"
                            [ngClass]="{ 'is-invalid': !this.formArticulo.get('price')?.valid && this.formArticulo.get('price')?.touched}"
                            [ngClass]="{ 'is-valid': this.formArticulo.get('price')?.valid }">
                        </div>
                        <div class="col-md-8">
                            <button class="btn btn-succes w-100 mt-4 pt-1 pb-1" type="submit"
                            [disabled]="!this.formArticulo.valid || !this.listImages.length">Modificar Artículo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>